@model ChangePassword

<h2>Change Password</h2>
<form action="/Account/ChangePassword" method="post">
        <div class="container">
            <p>
                <label for="OldPassword"><b>Old Password</b></label>
                <input type="password" placeholder="Old Password" name="OldPassword" required>
            </p>
            <p>
                <label for="NewPassword"><b>New Password</b></label>
                <input type="password" placeholder="New Password" name="NewPassword" required>
            </p>
            <p>
                <label for="ConfirmNewPassword"><b>Confirm New Password</b></label>
                <input type="password" placeholder="Confirm New Password" name="ConfirmNewPassword" required>
            </p>
            <button type="submit">Update Password</button>
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}