@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Cullenary Delights</h1>
    <a href="/Recipe" class="btn btn-primary active" role="button">All Recipes</a>
</div>
