@model Recipe

<h2>Submit a Recipe</h2>

@* <form asp-action="Create" method="post">
    <input asp-for="Title" placeholder="Title" />
    <textarea asp-for="Description" placeholder="Description"></textarea>
    <textarea asp-for="Ingredients" placeholder="Ingredients"></textarea>
    <textarea asp-for="Instructions" placeholder="Instructions"></textarea>
    <button type="submit">Save</button>
</form> *@