@model IEnumerable<Recipe>

<h1>All Recipes</h1>

@foreach (var recipe in Model)
{
    <div>
        <h3>@recipe.Name</h3>
        <a href="/Recipe/FullRecipe?recipeID=@recipe.RecipeID" class="btn btn-primary active" role="button">Full Recipe</a> 
    </div>
}