@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "All Recipes";
    var currentFilter = ViewData["CurrentFilter"] as string;
}

<h1>All Recipes</h1>

<form action="/Recipe/index" method="get">
    <input
        name="search"
        placeholder="Search by recipe name (use * for wildcard)..."
        value="@currentFilter" />
    <button type="submit">Search</button>
</form>

@if (!Model.Any())
{
    <p>No Recipes Found.</p>
}
else
{
    <ul>
        @foreach (var recipe in Model)
        {
            Console.WriteLine(recipe.RecipeID);
            <li>
                <strong>@recipe.Name</strong>
                <em>by @recipe.User.UserName</em>
                |
                <a href="/Recipe/FullRecipe?recipeID=@recipe.RecipeID">View</a>
            </li>
        }
    </ul>
}

